#agendamiento{
    background: #333;
    padding: 45px;
}
.agenda-titulo{
    background: rgb(236, 222, 222);
    font-family: 'New Tegomin', serif;
    text-align: center;
    padding: 15px;
    border-bottom: solid 5px red;
    border-radius: 8px 8px 0px 0px;
}

.agenda-registro{
    width: 95%;
    margin: auto;
    background: rgb(253, 255, 255);
    max-width: 500px;
    border-radius: 8px;
}
.contenedor-input{
    padding: 10px 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
input{
    padding: 10px;
    margin-top: 10px;
}

/*creacion de columnas manuales*/
.col-sm{
    width: 42%;

}
.col-xl{
    width: 100%;

}

.btn-registrar{
    background: tomato;
    color: white;
    margin: auto;
    margin-top: 10px;
}
