*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(/img/blanco.jpg);
    background-size: 100vw 100vh ;
    background-attachment: fixed;
    margin: 0;
    
}
.form-re {
    width: 400px;
    background-color: black;
    padding: 30px;
    margin: auto auto 10em;
    margin-top: 30px;
    border-radius: 5px;
    font-family: 'calibri';
    color:white;
    box-shadow: 7px 13px 37px #000;
    box-sizing: border-box;

}

.form-re h4 {
    font-size: 22px;
    margin-bottom: 20px;

}

.controls {
    width: 100%;
    background: white;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid white;
    font-family: 'calibri';
    font-size: 18px;
    color: gray;

}

.form-re p {
    height: 40px;
    text-align: center;
    font-size: 18px solid;
    line-height: 40px;
}

.form-re a{
    color: white;
    text-decoration: none;

}

.form-re a:hover {
    color: white;
    text-decoration: underline;
    
    
}


/*RESPONSIVE DESIGN : ADAPTABLE A DISP MOVIL*/

@media screen and (max-width: 1220px){
 
.form-re .botons {
    width: 100%;
    background: darkred;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
    border-radius: 5px;


}

.botons:hover{
    cursor: pointer;
    background: coral;
}

.op  {
    border-radius: 5px;
    color: gray;
    background: white;
    height: 50px;
    width: 100%;
    
    

   
}

@media (max-width:400px){
    .form-re{
        width: 100%;
    }
}
}
 
