
#bienvenida{
    font-family: 'New Tegomin', serif;
    text-align:center;
    margin: 20px 0px;
    
    
}
#bienvenida .image img{
    width: 180px;
    height: 190px; 
    padding: 10px;
    margin-top: 10px;
   

}

.image img:hover{
    transform: rotate(360deg);
    border-radius: 0; 
    transition: all 0.5s;
}


