*{
    margin: 0;
    padding: 0;
    
    
}


#blog h3, h4{
    text-align: center;
    font-family: 'New Tegomin', serif;
    font-size: 30px;
    color: white;
}

#blog .contenedor{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 15px;
    
}

#blog .contenedor img{
    width: 250px;
    height: 250px;
    border: solid 5px rgb(197, 191, 189);
    border-radius: 15px;

    
    
    
}
#blog article{
    margin: 15px;
    
    
}

#blog .contenedor > article > img:hover{
    transform: rotate(10deg) scale(1.1);
    transition: all 1s;
}



