*{
    margin: 0%;
    padding: 0%;
    
    
}

#blog h3, h4{
    text-align: center;
    font-family: 'Cinzel', serif;
}

#blog .contenedor{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 15px;
    
    
}

#blog .contenedor img{
    width: 250px;
    height: 250px;
    border: solid 5px rgb(36, 14, 5);
    border-radius: 15px;

    
    
    
}
#blog article{
    margin: 15px;
    
    
}

#blog .contenedor > article > img:hover{
    transform: scale(1.1);
    border-radius: 0; 
    transition: all 0.5s;
}



