@import url(menu.css);
@import url(banner.css);
@import url(bienvenida.css);
@import url(blog.css);
@import url(info.css);
@import url(contacto.css);
@import url(quienes_somos.css);
@import url(servicios.css);
@import url(informaciones.css);



*{
    margin: 0%;
    padding: 0%;
    
    
}


header{
    width: 100%;
    height: 50px;
    background-image: url(../img/cortes_y_mas/mennu2.jpg);
    color: antiquewhite;
    position: fixed;
    z-index: 100;
}
h1{
    float: left;
}

.contenedor {
    
    width: 98%;
    margin: auto;

}

#contenedor-logo-principal{
    display: flex;
    align-items: center;
    
    
}
#contenedor-logo-principal >img{
    width: 50px;
    margin-left: 10px;
}



footer .footer-pie{
   
    text-align: center;
    padding: center;
    color: seashell;
    font-family: 'New Tegomin', serif;
    background: rgb(17, 16, 16);
    margin-right: auto;
    margin-left: auto;
      
}
footer .footer-pie img{
    padding: 5px;
    width: 55px;
    height: 50px;
    
    
}

/*RESPONSIVE DESIGN : ADAPTABLE A DISP MOVIL*/

@media screen and (max-width: 1220px){
    
    .contenedor-logo-principal,
    .banner,
    .bienvenida,
    .blog,
    .info,
    .footer-pie
    {
        max-width: 1000px;
        padding: 0 20px; 
    }


}

@media screen and (max-width: 1024px){
    
    .banner
    .blog,
    .info{
        width: 100%;
        flex-direction: column;
        display: flex;
        justify-content: center;
    }



}

@media screen and (max-width: 800px){
    
    .banner
    .blog,
    .info{
        width: 100%;
        flex-direction: column;
        display: flex;
        justify-content: center;
    }
    .p{
        flex-direction: column;
    }
    footer .footer-pie img{
        padding: auto;
        width: 55px;
        height: 50px;
        justify-content: center;
        align-items: center;
        
        
        
    }



}



